@{
    ViewData["Title"] = "UnAuthorize";
}

<div class="Login">
    <div class="overlay"></div>

    <div class="Login_content">
        <div class="allSpace">
            <h3> عذراً، لا يمكنك الوصول لهذه الصفحة.</h3>
            <img src="~/assets/images/404.jpg"
                 alt="img-login"
                 loading="lazy" />
            <a asp-area="" asp-controller="Home" asp-action="Index" class="button">الرجوع للرئيسية</a>
        </div>
    </div>
</div>

