@using Core.Entities
@model PrinterRegistrationModelDto
@{
    ViewData["Title"] = "الطابعات";
    int index = 1;
}


<section>
    <header>
        <div style="display: flex; align-items: center; padding: 0px 10px">
            <i class="fa-solid fa-bars-staggered menu-slider"></i>
            <h3>الطابعات</h3>
        </div>
    </header>

    <!-- Search -->
    <div style="width: 90%; margin: 100px auto">
        <partial name="_PartialPrinterRegistration" model="Model.PrinterRegistrationRegisterDto" />
    </div>
    <!-- Tables -->
    <div class="table">
        <div class="container_table">
            <table>
                <thead>
                    <tr>
                        <th> تسلسل</th>
                        <th>المستخدم</th>
                        <th>اسم الطابعه</th>
                        <th>تعديل</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.PrinterRegistrationGetDtos)
                    {
                        <tr>
                            <td>@(index++)</td>
                            <td> @item.User.Name</td>
                            <td> @item.Name</td>
                            <td>
                                <a asp-action="DeletePrinterRegistration" onclick="return confirm('Are you sure you want to delete this?')" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-trash" style="color: var(--bg-delete);"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>


