@model ChangeUserPasswordDto

@{
    ViewData["Title"] = "تغيير الباسوورد";
}

<section>
    <header>
        <div style="display: flex; align-items: center; padding: 0px 10px">
            <i class="fa-solid fa-bars-staggered menu-slider"></i>
            <h3>  تغيير الباسوورد</h3>
        </div>
    </header>

    <div style="width: 90%; margin: 100px auto">
        <form method="post" asp-action="ChangePassword">
            <div class="form_wapper"
                 style="
                      grid-template-columns: repeat(
                        auto-fit,
                        minmax(calc(95% / 3), 1fr)
                      );
                    ">
                <input type="hidden" asp-for="Id" />
                <div class="FormControll">
                    <label asp-for="OldPassword">كلمة المرور الحالية</label>
                    <input type="password"
                           asp-for="OldPassword"
                           required />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="FormControll">
                    <label asp-for="NewPassword">كلمة المرور الجديدة</label>
                    <input type="password"
                           asp-for="NewPassword"
                           required />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="FormControll">
                    <label asp-for="ConfirmNewPassword">تأكيد كلمة المرور</label>
                    <input type="password"
                           asp-for="ConfirmNewPassword"
                           required />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>

              
            </div>

            <div class="Buttons">
                <button type="submit"
                        style="background: var(--color-primary)">
                    حفظ
                </button>
                <a type="button" asp-action="Index" asp-controller="Users" asp-area="Managment">رجوع</a>
            </div>
        </form>
    </div>
</section>

